# =========================
# .NET Core / Visual Studio
# =========================
bin/
obj/
TestResults/
*.user
*.suo
*.userprefs
*.sln.docstates
.vs/
.vscode/

# СЕКРЕТЫ БЭКЕНДА (ОЧЕНЬ ВАЖНО ДЛЯ ПУБЛИЧНОЙ РЕПЫ)
appsettings.Development.json
appsettings.Production.json
secrets.json

# =========================
# React / Vite / Node.js
# =========================
node_modules/
dist/
build/
.npm/
.eslintcache
.stylelintcache

# СЕКРЕТЫ ФРОНТЕНДА
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db